<div style="text-align: center;">
  <h1>Welcome to Angular Course</h1>
  <br>
  <h1>Demonstrating the use of pipes in Angular</h1>
  <br>
  <h1>Uppercase Pipe: {{_message | uppercase }}</h1>
  <br>
  <h1>LowerCase Pipe: {{_message | lowercase }}</h1>
  <br>
  <h1>TitleCase Pipe: {{_message | titlecase}}</h1>
  <br>
  <h1>Slice Pipe: {{_message | slice:2}}</h1>
  <br>
  <h1>JSON Pipe {{company | json }}</h1>
  <br>
  <h1>Number pipe {{12.654646464|number}}</h1>
  <br>
  <h1>Decimal pipe {{12.654646464|number : '2.3-6'}}</h1>
  <br>
  <h1>Percent pipe {{12.654646464|percent}}</h1>
  <br>
  <h1>Currency Pipes</h1>
  <br>
  <h1>US Dollar {{12.633232|currency:"USD"}}</h1>
  <br>
  <h1>Indian Rupee {{12.633232|currency:"INR"}}</h1>
  <br>
  <h1>Indian Rupee {{1200|currency:"INR"}}</h1>
  <br>
  <h1>South Korean Won {{1200|currency:"KRW"}}</h1>
  <br>
  <h1>Chinese Yuan {{1200|currency:"CNY"}}</h1>
  <br>
  <h1>Great Britain Pound {{1200|currency:"GBP"}}</h1>
  <br>
  <h1>Date Pipes</h1>
  <br>
  <h1>Current Date: {{currentDate}}</h1>
  <br>
  <h1>Current Date using date pipe : {{currentDate|date}}</h1>
  <br>
  <h1>Current Date using date pipe : {{currentDate|date:"shortDate"}}</h1>
  <br>
  <h1>Current Date using date pipe : {{currentDate|date:"longDate"}}</h1>
  <br>
  <h1>Current Date using date pipe : {{currentDate|date:"fullDate"}}</h1>
  <!-- <button (click)="getmessage()"">Get Message</button> -->
  <br>
  <h1>Dependency Injection : {{_serviceMessage}}</h1>
  <br>
</div>
<br>
<table border="5">
  <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Age</th>
    <th>City</th>
  </thead>
  @for(student of myObj; track student.id){
  <tr>
    <td>{{student.id}}</td>
    <td>{{student.name | uppercase}}</td>
    <td>{{student.age}}</td>
    <td>{{student.city}}</td>
  </tr>
  }
</table>
<br>